body {
  font-family: "Poppins", sans-serif;
  background-color: #292a2d;
  color: rgba(255, 255, 255, 0.87);
}

.card {
  color: black;
  background-color: #f2f2f2;
  border: 1px solid #555555;
}
.btn-outline-primary {
  background-color: #fff;
  color: #4285f4;
  border: 1px solid #4285f4;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}
.btn-primary:hover {
  background-color: #1a237e;
  border-color: #1a237e;
}
.line-divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.line-divider hr {
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

.line-divider span {
  margin: 0 10px;
  color: #999;
  font-size: 14px;
  text-transform: uppercase;
}

.google-btn {
  background-color: #fff;
  color: #4285f4;
  border: 1px solid #4285f4;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.google-btn:hover {
  background-color: #4285f4;
  color: #fff;
}

.facebook-btn {
  background-color: #3b5998;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.facebook-btn:hover {
  background-color: #fff;
  color: #3b5998;
  border: 1px solid #3b5998;
}
.card-news {
  border: none;
  background-color: #1f1f1f;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.87);
}

.card-news-underlined:hover {
  text-decoration: underline;
  cursor: pointer;
}

.category:hover {
  cursor: pointer;
}

.card-body {
  font-size: 14px;
}

.top-stories {
  color: #8bb8f8;
}

.local-news {
  color: #75b8b1;
}

.favorites {
  color: #f8b8b8;
}

.img-fluid {
  border-radius: 10px;
}

.saved {
  color: #009688;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu li {
  margin-bottom: 0px;
}

.btn-search {
  background-color: #8bb8f8;
}

.btn-search:hover {
  background-color: #4f97fb;
}

.input-search {
  background-color: #2a3038;
  color: rgba(255, 255, 255, 0.87);
  border: none;
}

.input-search:focus {
  background-color: #2a3038;
  color: rgba(255, 255, 255, 0.87);
  border: 1px solid #8bb8f8;
  box-shadow: none;
}

.categories {
  color: #009688;
}

.navbar {
  background-color: #1f1f1f;
  color: rgba(255, 255, 255, 0.87);
}
.navbar-brand {
  color: rgba(255, 255, 255, 0.87);
}
